@import "./toastr";
@import "./sweetalert";
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

$primary: #90140D;
$primary-light:#FF3F34;
$Seconary:#26a69a;
$secondary-light:#32cabb;
$Side-bar: rgba(255, 255, 255, 0.81);
$landing-page: white;
$row-background:  rgba(0, 0, 0, 0.5);
$link: yellow;
$name:grey;


body {
    font-family: 'PT serif', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.landing-page{
    background-image: url('/dist/img/books.jpg');
    height: 100vh;
    width: 100vw;
    background-position: left;
    color: $landing-page;
}
.row-container{
    border-radius: 15px;
    margin-top: 5%;
    background-color:$row-background;
    padding-bottom: 50px !important;
}

nav{
    width: 100%;
    background-color: $primary;
}
.navbar-fixed nav{
    position: fixed;
}
.brand-logo{
    position: relative;
    left: 50%;
}
.document-container{
    margin-left: 28%;
    background-color: $landing-page;
}
.header{
    margin-top: 0px;
    font-size: 3.2rem;
    text-align: center
}

.side-bar-top-icon{
    font-size:6rem;
    margin-bottom: 0rem

}
.side-bar-top-text{
    margin-top: 0rem;
    margin-bottom: 0rem

}
.side-bar-top-email{
    margin-top: -1rem;
    margin-bottom: 0rem

}
.loginPS{
    margin-left: 2rem
}
.sidebar-top{
    background-image: url('/dist/img/office.jpg');
    color: $Side-bar;
    text-align: center;
    margin-bottom: 1rem;
}

.button-collapse{
    z-index: 998;
    position: absolute;
    top:2vh;
}
.modal{
    display: block;
    margin-left: 34%;
    margin-top: 2%;
}
@media only screen and (max-width: 992px){
    .modal {
        width: 80%;
        margin-left: 10%;
    }
}
.card-content{
    height: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .card-title, h4{
    overflow: hidden;
    text-overflow: ellipsis;  
    font-weight: 600;
    text-align: center;
    color: $primary;
}
   
.search-wrapper{
    margin-top: 13px;
    padding: 1px 0 0 0;
    z-index: 2;
    height: 46px;
    width: 35vw;
    left: 25%;
}
.search-wrapper i.material-icons{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#search{
    height: 45px;
}
.pagination li.active {
    background-color: $primary;
}
.pagination li a {
    cursor: pointer; 
}
.pagination{
        position: relative;
    text-align: center;
    bottom: 20px;
}
.card-name{
        color: $name;
    font-weight: 600;
}
.doc-access{
    float: right;
    color: $Seconary
 }
.card-btn-delete{
    float: right;
    background-color: $primary
}
.card-btn-delete:hover{
    background-color: $primary-light
}
 .clear{
     clear:both;
 }
 a{
     color: $link;
 }
 .btn-del{
    left: 90%;
    background-color: $primary

}
.btn-del:hover{
    background-color: $primary-light
}
 .btn-edit{
    left: 77%;
    background-color: $Seconary
}
.btn-flat{
        background-color: $Seconary

}
.btn-flat:hover, .btn-edit:hover{
        background-color: $secondary-light

}
 header, main, footer,  {
      padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer, {
        padding-left: 0;
    }
}
.side-bar-list:hover{
color: $primary-light;
}
.side-nav li>a {
color: $primary;

}
.side-nav li>a:hover {
color: $primary-light;

}
.card-abstract {
    height: 180px;
    margin-bottom: 20px;
    overflow: hidden;
}
.collection .collection-item.avatar{
    padding-left: 20px;
}
.welcome-text{
    text-align: center;
    font-size: 30px;
    color: $link;
}
.page-footer {
    padding-top: 0px;
    position: fixed;
    width: 100%;
    background-color: #90140d;
    z-index: 100;
    bottom: 0px;
    text-align: center;
}
.no-result{
    text-align: center;
    font-size: 46px;
}
select{
    width: 20%
}
.btn-doc{
        margin-top: -12%;
    margin-left: 23%;
    width: 20%;
}
.btn-update{
    margin-top: -8%;
    margin-left: 23%;
    width: 20%;   
}
.active {
    font-weight: 900 !important;
    //color: red !important;
}
