.landing-page{
    //background-image: url('/img/books1.jpg');
    background-size: 50%;
    height: 100vh;
    background-position: left;
    color: black
}
nav{
    width: 77%;
    background-color: #901111;
}
.navbar-fixed nav{
    position: fixed;
    left:23.5%
}
.document-container{
    margin-left: 28%;
    background-color: white;
    width: 50%
}
.header{
    margin-top: 0px;
    font-size: 3.2rem;
    text-align: center
}