.landing-page{
    background-image: url('/dist/img/books.jpg');
     height: 100vh;
     width: 100vw;
    background-position: left;
    color: white
}
.row-container{
margin-top: 10%;
background-color: rgba(0, 0, 0, 0.3);
}

nav{
    width: 77%;
    background-color: #901111;
}
.navbar-fixed nav{
    position: fixed;
    left:23.5%
}
.document-container{
    margin-left: 28%;
    background-color: white;
    //width: 100%
}
.component-render{
        width: 70%;
    margin-left: 23rem;
    }
.header{
    margin-top: 0px;
    font-size: 3.2rem;
    text-align: center
}
#mode-edit{
    margin-top: 2.5rem
}

.side-bar-top-icon{
    font-size:6rem;
    margin-bottom: 0rem

}
.side-bar-top-text{
    margin-top: -2rem;
    margin-bottom: 0rem

}
.side-bar-top-email{
    margin-top: -1rem;
        margin-bottom: 0rem

}
.loginPS{
    margin-left: 2rem
}
.image-holder{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
        width: 4.3rem;
    height: 4.3rem;
  
}
.sidebar-top{
        background-image: url('/dist/img/office.jpg');
        color: rgba(255, 255, 255, 0.81);
    text-align: center;
    margin-bottom: -1rem;
    }
    .modal{
        display: block;
            margin-left: 34%;
    margin-top: 2%;
    }
    .card-content{
        height: 9rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card .card-title{
      overflow: hidden;
        text-overflow: ellipsis;  
        font-weight: 500;
    }
    .card .card-action{
    }
    .app-container{
        width: 80%;
    }
    .secondary-content{
        color: #901111
    }
    .search-wrapper{
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
        height: 46px;
    }
    .search-wrapper i.material-icons{
        position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    }
    #search{
        height: 45px;
    }
      body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .page-footer{
      background-color: #901111
  }
  .pagination li.active {
    background-color: #901111;
}